---
title: API Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - java

nav_headers:
    - <li class="header-nav__item"><a href="/zh/latest/API-MPC/index.html">MPC WALLET</a></li>
    - <li class="header-nav__item"><a href="/zh/latest/API-WaaS-V2/index.html">Custody V2</a></li>
    - <li class="header-nav__item active"><a href="/zh/latest/API-WAPI/index.html">Custody WAPI</a></li>

top_switch_language: <a class="switch-language" href="/en/latest/API-WAPI/index.html">English</a>

h5_current_header: Custody WAPI

includes:
  - index.md.erb

search: true

code_clipboard: true
---
